<!DOCTYPE html>
<!-- Code By RuangCoder ( https://www.ruangcoder.com ) -->
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>JavaScript Typing Effect | RuangCoder</title>
  <link rel="stylesheet" href="style.css">

</head>
<body>
<style>
        /*untuk teks heading di tag <body>*/
        h2
        {
            background-color: white;
            color: crimson;
            font-family: sans-serif;
            text-align: center;
            width: 45%;
            margin:auto;
            padding: 20px;
        }
 
        body
        {
            background-image: url('https://h.top4top.io/p_2103x1gs10.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<div class="container">
   <center> <p><u>SANSLINE </u><span class="typed-text"></span><span class="TypeCursor">&nbsp;</span></p><center>
  
 <a href="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js">DOCUMENTATION</a></p>
<script  src="function.js"></script>

</body>
</html>

